@media screen and (max-width: 1024px){
	.menu__item_works{
		font-size: 13px;
	}
}
@media screen and (max-width: 960px){
	.menu__item_works:first-child,
	.menu__item_works:nth-child(2),
	.menu__item_works:nth-child(3),
	.menu__item_works:nth-child(4){
		width: 25%;
	}
	.menu__item_works:nth-child(5),
	.menu__item_works:nth-child(6),
	.menu__item_works:nth-child(7){
		width: 33.33%;
	}
	.menu__item_works{
		font-size: 14px;
	}
	.content{
		width: 49%;
	}
	.content:nth-child(1),
	.content:nth-child(2),
	.content:nth-child(4),
	.content:nth-child(5),
	.content:nth-child(7),
	.content:nth-child(8),
	.content:nth-child(10),
	.content:nth-child(11),
	.content:nth-child(13),
	.content:nth-child(14),
	.content:nth-child(16),
	.content:nth-child(17),
	.content:nth-child(19),
	.content:nth-child(20),
	.content:nth-child(22),
	.content:nth-child(23),
	.content:nth-child(25),
	.content:nth-child(26),
	.content:nth-child(28),
	.content:nth-child(29),
	.content:nth-child(31),
	.content:nth-child(32),
	.content:nth-child(34),
	.content:nth-child(35){
		margin-right: 0%;
	}
	.content:nth-child(odd){
		margin-right: 2%;
	}
	.quote__btn{
		margin-top: 80px;
	}
	.quote__btn__text{
		font-size: 40px;
	}
	.footer__menu{
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}
	.footer__contacts{
		float: none;
		height: 17px;
	}
	.footer__contacts__email,
	.footer__contacts__tel{
		float: none;
		text-align: center;
	}
	.footer__contacts__email{
		margin-right: 0;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 767px){
	.header__logo{
		float: none;
		text-align: center;
	}
	.logo{
		margin-top: 0;
		padding-top: 30px;
		margin-bottom: 22px;
	}
	.header__menu{
		float: none;
		text-align: center;
		margin-top: 22px;
		padding-bottom: 22px;
	}
	.title__text{
		font-size: 30px;
	}
	.menu__item_works{
		font-size: 13px;
	}
	.content__link__text{
		font-size: 14px;
	}
	.quote__btn__text{
		font-size: 30px;
	}
	.form{
		width: 320px;
	}
}
@media screen and (max-width: 480px){
	.menu__item{
		font-size: 14px;
	}
	#sort{
		background: #b2b2b2 none repeat scroll 0 0;
		color: #000;
		display: block;
		padding: 15px 2px;
		text-align: center;
		box-sizing: border-box;
		font-size: 15px;
		font-weight: 900;
		letter-spacing: normal;
		text-transform: uppercase;
		cursor: pointer;
	}
	.menu__works{
		display: none;
		opacity: 0;
	}
	.menu__item_works:nth-child(1){
		width: 100%;
	}
	.menu__item_works:nth-child(2),
	.menu__item_works:nth-child(3),
	.menu__item_works:nth-child(4),
	.menu__item_works:nth-child(5),
	.menu__item_works:nth-child(6),
	.menu__item_works:nth-child(7){
		width: 50%;
	}
	.content{
		width: 100%;
	}
	.quote__btn__text{
		height: auto;
		line-height: 30px;
		padding: 10px 0;
	}

}