/*@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');*/
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

body{
	 font-family: Georgia, 'Times New Roman', Times, serif;
    background: #fff none repeat scroll 0 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #373c44 none repeat scroll 0 0;
}

.container__fixed {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__logo {
    float: left;
}

.logo {
    font-size: 30px;
    color: #fff;
    margin-top: 22px; 
    margin-bottom: 55px;
}

.logo_text_bold {
    font-weight: 900;
}

.logo_text {
    font-weight: normal;    
}

.menu__item {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.menu__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.menu__link:hover {
    color: #989794;
}

.menu_slash {
color: #fff;
padding: 0 15px;
}

.header__menu {
    float: right;
    margin-top: 53px;
    margin-bottom: 45p;
}

.header__fixed {

}

.clearfix {
    clear: both;
}

.works__title {
    font-weight: bold;
    margin-top: 125px;
    margin-bottom: 80px;
}

.title__text {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.works__title__text {
    color: #3c2839;
}

.title_line {
    width: 50px;
    border-bottom: 1px solid #626262;
    margin: 0 auto;
    height: 52px;
}

.works__menu {
    margin-bottom: 70px;
}

#sorted {
    display: none;
}

.menu__item__works {
    width: 13%;
    color: #fff;
    display: inline-block;
    padding: 15px 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: normal;
    text-transform: uppercase;
    cursor: pointer;
}
.menu__item__works:first-child{
    background: #eaeaea none repeat scroll 0 0;
}
.menu__item__works:nth-child(2){
    background: #00c59e none repeat scroll 0 0;
}
.menu__item__works:nth-child(3){
    background: #df4343 none repeat scroll 0 0;
}
.menu__item__works:nth-child(4){
    background: #64b341 none repeat scroll 0 0;
}.menu__item__works:nth-child(5){
    background: #874ab6 none repeat scroll 0 0;
}.menu__item__works:nth-child(6){
    background: #ffa200 none repeat scroll 0 0;
}.menu__item__works:last-child{
    background: #2f84e5 none repeat scroll 0 0;
}

.content {
    width: 32%;
    float: left;
}
.content:nth-child(n){
    margin-right: 2%;
}
.content:nth-child(3n){
    margin-right: 0%;
}

.content__link__img  img{
    width: 100%;
}

.content_link_text {
    font: bold 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
}
.image {}
.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}
.popup_bg {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.popup_img {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    max-height: 94%;
    max-width: 94%;
    margin: 1% 0 0 0;
}

.content:hover {

}

.menu__item__works:hover {
    margin: -1px;    
    border: 1px solid red;
    color: #999;
}
