<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/clear.css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
</head>

<body>
   <div class="container">
    <header class="header">
    <div class="header__fixed">
           <div class="container__fixed">
               <div class="header__logo">
                 <div class="logo">
                    <span class="logo_text_bold">.ONE</span>
                    <span class="logo_text">.TOWN</span>
                 </div>
               </div>
            <nav class="header__menu">
               <ul class="menu">
                <li class="menu__item">
                  <a class="menu__link" href="#">About us</a> <span class="menu_slash">/</span> </li>
                <li class="menu__item"> <a class="menu__link" href="#">Work</a> <span class="menu_slash">/</span> </li>
                <li class="menu__item"> <a class="menu__link" href="#">Service</a> <span class="menu_slash">/</span> </li>
                <li class="menu__item"> <a class="menu__link" href="#">Blog</a><span class="menu_slash">/</span>  </li>
                <li class="menu__item"> <a class="menu__link" href="#">Careers</a><span class="menu_slash">/</span>  </li>
                <li class="menu__item"> <a class="menu__link" href="#">Contact</a> </li>
                </ul>
            </nav>
       </div>
       <div class="clearfix"></div>
    </div> <!--    end of header-->
    </header>
    <!--    main-->
    <div class="works">
        <div class="container__fixed">
        <div class="works__title">
            <h2 class="works__title__text title__text">Our Works</h2>
            <div class="title_line"></div>
        </div>
            <nav class="works__menu">
                   <div id="sorted">sort</div>
                   <ul class="menu menu__works">
                       <li class="menu__item menu__item__works" id="all">all</li>
                       <li class="menu__item menu__item__works" id="mobile__apps">mobile apps</li>
                       <li class="menu__item menu__item__works" id="web__development">web development</li>
                       <li class="menu__item menu__item__works" id="identify">identify</li>
                       <li class="menu__item menu__item__works" id="brand__promo">brand promo</li>
                       <li class="menu__item menu__item__works" id="graphic__design">graphic design</li>
                       <li class="menu__item menu__item__works" id="motion__dynamics">motion dynamics</li>
                   </ul>
                   </nav>
        <section class="works__content">
            <article class="content mobile__apps">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/1.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>App UI Kit Pro</h3></a>
                        </div>
                </article>
                <article class="content web__development">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/2.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>vintage poster effects</h3></a>
                        </div>
                </article>
                 <article class="content identify">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/3.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>ecommerce line icons</h3></a>
                        </div>
                </article> 
                  <article class="content brand__promo">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/4.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>iOS7 Icon Concepts</h3></a>
                        </div>
                </article>       
                  <article class="content graphic__design">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/5.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>BlueBox: Flat PSD Template </h3></a>
                        </div>
                </article>   
                  <article class="content motion__dynamics">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/6.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>iPhone App website</h3></a>
                        </div>
                </article>    
                   <article class="content web__development">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/7.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>Leather UI Elements PSD</h3></a>
                        </div>        
                </article>            
                    <article class="content brand__promo">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/8.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>Coffee Cups PSD</h3></a>
                        </div>
                </article>     
                   <article class="content identify">
                   <div class="content__link">
                     <img class="content__link__img image" src="../img/works/9.jpg" alt="">
                    <a href="#" class="content_link_text">
                        <h3>14 Badges in 4 Styles</h3></a>
                        </div>
                    </article>
            </section>
            <div class="clearfix"></div>
           </div>
        </div>
    <div class="questions">
        <div class="questions__fixed">
           <div class="questions__btn">
            <h2 class="">Want to work with us?   Get a free quote</h2> </div>
    </div>
    </div>
   

    <div id="testimonials" class="box">
        <div class="container">
            <h2 class="title">Testimonials</h2>
            <div class="line">
                <hr> </div>
            <p class="descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed leo tellus. Praesent nec vehicula ligula, non laoreet ligula. Maecenas at massa eget orci porttitor semper. Sed lobortis magna in faucibus commodo. Ut purus odio, gravida sit amet laoreet at, dictum et urna. Sed egestas mauris tellus, vitae facilisis nisi pretium imperdiet. Donec dapibus mi a mauris rhoncus, a vehicula nibh porttitor.</p> <strong class="title">John Henry Doe, ABC Company, St. Louis</strong> </div>
    </div>
    <div id="subscribe" class="box">
        <div class="container">
            <h2 class="title">Subscribe to our newsletter</h2>
            <div class="line">
                <hr> </div>
            <form action="#" id="message">
                <div class="clearfix">
                    <div class="center">
                        <input type="text" placeholder="Enter Your Email Address"> </div>
                </div>
                <input class="btn" type="submit" value="Submit"> </form>
        </div>
    </div>
</div>
    <script src="../scripts/jquery-3.2.1.min.js"></script>
    <script src="../scripts/script.js"></script>
</body>

</html>